.insert{
    margin:0 auto;
    padding:14px;
    height: 100%;
}


.insert > input{
    float:left;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:70px;
    margin:2px 0 20px 10px;
}

.insert > input[type="file"] {
    display: none;
}

.imagePreview {
    max-width: 200px;
    max-height: 200px;
}